# -------------------------
# Environment variables
# -------------------------
.env
.env.example
# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/

# -------------------------
# Node.js
# -------------------------
node_modules/

# -------------------------
# Build outputs
# -------------------------
dist/
build/

# -------------------------
# Logs
# -------------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------
# Operating System
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

# -------------------------
# Coverage
# -------------------------
coverage/